# Root-level ignore
.vscode/


# Python/Django
backend/db.sqlite3
backend/__pycache__/

#React(Vite)
frontend/node_modules/
frontend/dist/
frontend/.env

#Logs
*.log

# Migrations
*/migrations/*.pyc

venv/
